 .skills__list {
    max-width: 450px;
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  
  .skills__list_item {
    width: 50px;
  }
  .title{
    text-align: center;
  }
  .itemsCentered{
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-right: 20%;
    margin-left: 15%;
  }
  .title{
    text-align: center;
  }